.main {
    height: 100vh;
    padding: 40px 0;


    /* vertical-align: top; */
    /* margin: auto; */
}

img {
    height: 200px;
    width: 200px;
}

.input-group {
    margin-left: 10px;
}
i {
    vertical-align: ;
}